<!DOCTYPE html>
<html>
    <head>
        <title>My First</title>
        
        <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>
        <script>
            // Initialize Firebase
            var config = {
                apiKey: "AIzaSyCnKHP42pOqDkrz5IlAW513pEvPZcQCVb8",
                authDomain: "photoapp-859b5.firebaseapp.com",
                databaseURL: "https://photoapp-859b5.firebaseio.com",
                projectId: "photoapp-859b5",
                storageBucket: "photoapp-859b5.appspot.com",
                messagingSenderId: "429622908808"
            };
            firebase.initializeApp(config);
        </script>
    </head>
    <body>
        <h1>Thêm địa chỉ quận huyện</h1>
        <p>Tên thành phố:
            <select id="city" style="width: 200px">
                <option></option>
                <option>Hà Nội</option>
                <option> Hà Giang</option>
                <option> Cao Bằng</option>
                <option> Bắc Cạn</option>
                <option> Tuyên Quang</option>
                <option> Lào Cai</option>
                <option> Điện Biên</option>
                <option> Lai Châu</option>
                <option> Sơn La</option>
                <option> Yên Bái</option>
                <option> Hòa Bình</option>
                <option> Thái Nguyên</option>
                <option> Lạng Sơn</option>
                <option> Quảng Ninh</option>
                <option> Bắc Giang</option>
                <option> Phú Thọ</option>
                <option> Vĩnh Phúc</option>
                <option> Bắc Ninh</option>
                <option> Hải Dương</option>
                <option> Hải Phòng</option>
                <option> Hưng Yên</option>
                <option> Thái Bình</option>
                <option> Hà Nam</option>
                <option> Nam Định</option>
                <option> Ninh Bình</option>
                <option> Thanh Hóa</option>
                <option> Nghệ An</option>
                <option> Hà Tĩnh</option>
                <option> Quảng Bình</option>
                <option> Quảng Trị</option>
                <option> Thừa Thiên Huế</option>
                <option> Đà Nẵng</option>
                <option> Quảng Nam</option>
                <option> Quảng Ngãi</option>
                <option> Bình Định</option>
                <option> Phú Yên</option>
                <option> Khánh Hòa</option>
                <option> Ninh Thuận</option>
                <option> Bình Thuận</option>
                <option> Kon Tum</option>
                <option> Gia Lai</option>
                <option> Đăk Lăk</option>
                <option> Đăk Nông</option>
                <option> Lâm Đồng</option>
                <option> Bình Phước</option>
                <option> Tây Ninh</option>
                <option> Bình Dương</option>
                <option> Đồng Nai</option>
                <option> Bà Rịa - Vũng Tàu</option>
                <option> Thành phố Hồ Chí Minh</option>
                <option> Long An</option>
                <option> Tiền Giang</option>
                <option> Bến Tre</option>
                <option> Trà Vinh</option>
                <option> Vĩnh Long</option>
                <option> Đồng Tháp</option>
                <option> An Giang</option>
                <option> Kiên Giang</option>
                <option> Cần Thơ</option>
                <option> Hậu Giang</option>
                <option> Sóc Trăng</option>
                <option> Bạc Liêu</option>
                <option> Cà Mau</option>
            </select>
        </p>
        <input type="text" id="town" placeholder="Tên Quận/Huyện" >
        <button onclick="myFunction()">Submit</button>
        <script>
                function myFunction() {
                    var city = document.getElementById("city").value;
                    var town = document.getElementById("town").value;

                    // document.getElementById("demo").innerHTML = x;
                    firebase.database().ref('DataAddressTown/').child(city).push({ 
                        value: town
                    });
               
                }
           
        </script>
    </body>
</html>